{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <link rel="stylesheet" href="{% static 'css/user_details.css' %}">
</head>
<body>
{% include 'index.html' %}
<br><br>
{% block content %}
<div class="container">
  <h2 class="head">User Details</h2><br>
  <table class="table">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Date of Birth</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.date_of_birth }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

</body>
</html>
